<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal Website</title>
</head>
<body>
    <h1>Orlando Ortega</h1>
    <hr>
    <img src="MeProfiles.jpg" alt="Orlando Ortega">
    <h4>Geoscientist with a passion for data</h4>
    
    <p>Check my Technical website and my Projects Portfolio</p>
    <ul>
      <li><strong>Email:</strong> <a href="#">ortegaorlando2@gmail.com</a></li>
      <li><strong>Github:</strong> <a href="#">https://github.com/ortegaorlando2?tab=repositories</a></li>
      
    </ul>
  
    <table>Favorite Subjects
      <tr>
        <th>Geology</th>
        <th>Fractures</th>
        <th>Data Analytics</th>
      </tr>
      <tr>
        <td>O&G Exploration</td>
        <td>Regional Studies</td>
        <td>Mapping</td>
      </tr>
      <tr>
        <td>Statistical Analysis</td>
        <td>Sandstones</td>
        <td>Carbonates</td>
      </tr>
    </table>
      <ul>
        <li>My favorite place: Galveston</li>
        <li>My hobby: Aquascaping</li>
        <li>I live in Houston</li>
      </ul>
    </table>
    
    <table>Education
        <tr>
            <th>Rice University</th>
            <th>The University of Texas at Austin</th>
            <th>Universidad Central de Venezuela</th>
        </tr>
        <ol>
            <td>RU</td>
            <td>UT</td>
            <td>UCV</td>
        </ol>
    </table>

</body>
</html>