<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mars Page</title>
    </head>
    <body>
        <h1>Welcome to my rough Mars API</h1>
        <br>
        <h2>What's New</h2>
    
        <hr>
        <br>
        <h3>Look how pretty is Mars</h3>
        <a href="/scrape">Mars Hemispheres</a>
        <ul>
            <h6>click here</h6>
            
            {% for pho in MarsPhotos %}
            <li>{{pho.Hemisphere}}{{pho.Image}}</li>            
            {% endfor %}
        </ul>
        <hr>
        <ul>
            <tr>
                <h3>MarsFacts</h3>

            </tr>
            {% for fac1 in MarsFacts1 %}
            <li>{{fac1.Fact}}{{fac1.Value}}</li>
            {% endfor %}
            {% for fac2 in MarsFacts2 %}
            <li>{{fac2.Fact}}{{fac2.Value}}</li>
            {% endfor %}
        </ul>

        <ul>
            <h3>Sources<h3>
            <li>https://mars.nasa.gov/news/</li>
            <li>https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars</li>
            <li>https://space-facts.com/mars/</li>
        </ul>

    </body>
</html>