<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
        table { font-family: 'Arial'; margin: 25px auto; border-collapse: collapse; border: 1px solid #eee;
        border-bottom: 2px solid #4b280b; box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05), 0px 20px 20px rgba(0,0,0,0.05), 0px 30px 20px rgba(0,0,0,0.05);
        tr {background: #f4f4f4}; 
        td {color: #555;}}
        td {color: rgb(85, 39, 12); border: 1px solid #eee; padding: 12px 35px; border-collapse: collapse;}
        th {background: #c26a0a; color: #fff; text-transform: uppercase; font-size: 12px; }

        </style>
        
    </head>
    <body>
        <div class="container"></div>

            <h1>Welcome to my Mars API</h1>
            <div class="Mypage">
                <table>
                <tr>
                    <th>
                    <a href="{{img_url}}">
                        <img src={{img_url}} style="width:200px;height:200px;"></a>
                    </th>
                    <th>
                    <h6 style="color:rgb(54, 35, 32);" margin-bottom: .4em;>Image of Mars Extracted from Wikipedia</h6>
                    </th>
                    <th>&nbsp</th>
                    <th>
                    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Here</a></p>
                    </th>
                </tr>
                </table>
                
            
            <br>
        <h2>What's New</h2>
                <table>
                    <tr>
                        <th>
                            <a href="https://mars.nasa.gov/system/resources/detail_files/25609_1-PIA24428-1200.jpg">
                                <img src="https://mars.nasa.gov/system/resources/detail_files/25609_1-PIA24428-1200.jpg" style="width:200px;height:200px;"></a>
                            
                        </th>                    
                        <th>{{News}}</th>
                        <td>{{paragraph}}</td>
                    </tr>

                </table>
            
    
        <div class="row" id="Mars-Stuff">
            <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
                <h4>Click each image to see a large picture</h4>
                <table>
                    <!-- <tr> -->
                        <th>Mars Hemispheres</th>
                        <th>Image</th>
                        <th>Images https</th>
                    <!-- </tr> -->
                {% for pho in MarsPhotos %}
                <tr>
                    <div class="col-lg-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <td>
                                    <h4 class="card-title">{{pho.Hemisphere}}</h4>
                                </td>
                                <th>
                                    <img href="{{pho.Image}}">
                                        <img src="{{pho.Image}}"></a>
                                        <!-- style="width:62px;height:68px;" -->
                                </th>
                                <th>
                                    <a href="{{pho.Image}}">Link</a>
                                </th>
                            </div>
                        </div>
                    </div>
                </tr>    
                {% endfor %}

                </table>
            </div>
        </div>


        <hr>


        <!-- <div class="row" id="Mars-Stuff">
            <div class="col-md-12">
                <h2>Mars Facts</h2>
                <h4>Extracted from https://space-facts.com/mars/</h4>
                <a>
                    {{Table}}
                </a>
            </div>
        </div>        -->
        <!-- <h3></h3>
        <a href="/scrape"></a>
        <h3>Links to Images</h3>
        <ul>
            <table>
            {% for pho in MarsPhotos %}
            <tr>
            <td>{{pho.Hemisphere}}</td>
            <td>{{pho.Image}}</td> 
            </tr>           
            {% endfor %}
            </table>
        </ul> -->
        <hr>
        <h3>Mars Facts</h3>
        <table>
            {% for fac1 in Table %}
            <tr>
                <td>{{fac1.Fact}}</td>
                <td>{{fac1.Value}}</td>
            </tr>
            {% endfor %}
            {% for fac2 in MarsFacts2 %}
            <tr>
                <td>{{fac2.Fact}}</td>
                <td>{{fac2.Value}}</td>            
            </tr>
            {% endfor %}
        </table>

        <ul>
            <h3>Sources<h3>
            <li>https://mars.nasa.gov/news/</li>
            <li>https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars</li>
            <li>https://space-facts.com/mars/</li>
        </ul>

    </body>
</html>